pipelines/secrets

node_1
node_2
node_3
tmp

.DS_Store

__debug_*

node_modules
/services/core/blueprint/web-client/target/release/*
/services/core/blueprint/web-client/target/wasm32-unknown-unknown/*
main
dist

go.work
go.work.sum

# ignore user specific vscode settings
.vscode/settings.json