/* --------------- ROOT STYLE VARS --------------- */
:root {
  --white: #fafbfd;
  --black: #0d121a;
  --primary: #2d72d2;
  --primary-hover: #4c90f0;
  --primary-active: #215db0;
  --bg: #f6f7f9;
  --text-dark: #2f343c;
  --text-gray: #738091;
  --text-light: #f6f7f9;
  --a: #c87619;
  --a-hover: #ec9a3c;
  --divider: #d3d8de;
  --badge: #cd4246;
}

/* --------------- KEYFRAMES --------------- */
@keyframes ping {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* --------------- GLOBAL --------------- */
body {
  background-color: var(--bg);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--a);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a:hover {
  color: var(--a-hover);
}

h4 {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 5px;
}

/* --------------- LAYOUT --------------- */
.main-container {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 960px;
  height: fit-content;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider);
  margin-top: 1px;
  margin-bottom: 1px;
}

.card {
  border: 1px solid var(--divider);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--divider);
  padding: 10px 15px 20px 15px;
  margin: 8px;
  background-color: white;
}

/* ---------- TABLE ---------- */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  display: flex;
  border-bottom: 1px solid var(--divider);
}

.table-header {
  font-weight: bold;
}

.table-cell {
  flex: 1;
  padding: 8px;
}

.align-right {
  text-align: right;
}

/* ---------- BUTTONS ---------- */

.btn {
  background-color: var(--primary);
  color: var(--text-light);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--primary-hover);
  box-shadow: 0 6px 8px var(--divider);
  color: var(--white);
}

.btn:active {
  background-color: var(--primary-active);
}

/* --------------- ICONS --------------- */
.icon-menu {
  font-size: larger;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.icon-menu:hover {
  color: var(--a);
}

.icon-menu-open {
  color: var(--a);
}

.icon-command {
  margin-right: 2px;
  margin-top: 2px;
}

.icon-copyright {
  font-size: larger;
  padding: 0 2px 0 2px;
}

.icon-notify {
  font-size: x-large;
}

/* --------------- COMPONENTS --------------- */
/* ---------- HEADER ---------- */
/* ----- LAYOUT ----- */
.header {
  position: sticky;
  top: 0;
  height: 66px;
  width: 100vw;
  display: flex;
  z-index: 1000;
  color: var(--text-light);
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
}

.header-left {
  padding-left: 30px;
  color: var(--text-light);
}

.header-right {
  padding-right: 30px;
  display: flex;
  align-items: center;
  color: var(--text-light);
}

/* ---------- MENU ---------- */
/* ----- LAYOUT ----- */
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  top: 55px;
  left: 20px;
  width: 260px;
  height: 150px;
  color: var(--text-gray);
  padding: 12px;
  background-color: var(--bg);
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.33),
    0 4px 6px -4px rgb(0 0 0 / 0.33);
}

.menu-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.menu-right {
  display: flex;
  align-items: center;
  font-size: large;
  width: 40px;
  color: var(--text-gray);
}

.menu-left {
  display: flex;
  align-items: center;
  color: var(--text-gray);
}

.menuIcons {
  margin-right: 15px;
  color: var(--text-dark);
  font-weight: bold;
  font-size: large;
}

.logo-text {
  color: var(--text-light);
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.badge-notify {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.badge-overlay {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -7px;
  background-color: var(--badge);
  color: var(--text-light);
  margin: 0;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 50%;
}

/* ---------- TITLE ---------- */
.title {
  color: var(--primary);
}

/* ---------- FOOTER ---------- */
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--text-light);
  background-color: var(--primary);
}

/* ---------- CLUSTER NODES ---------- */
.clusterNodes-content {
  display: flex;
  margin: 0;
  padding: 3px;
  line-height: 1.25rem;
}

/* ---------- CLUSTER NODES LIST ---------- */
.clusterNodesList-content {
  display: flex;
  margin: 0;
  padding: 3px;
}

.offline {
  color: var(--text-gray);
  font-style: italic;
}

/* --------------- PAGES --------------- */
/* ---------- METRICS ---------- */
.metrics-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.metrics-content {
  display: flex;
  height: 85%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.metrics-top {
  display: flex;
  height: 50%;
  width: 100%;
}

.metrics-bottom {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.metrics-chart {
  display: flex;
  flex-direction: column;
  width: 66.66%;
}

.metrics-clusterNodes {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
