/* --------------- ROOT STYLE VARS --------------- */
:root {
  --white: #fcfcfc;
  --black: #171717;
  --gray: #4a4a4a;
  --bg-dark: #212121;
  --bg-light: #2b2b2b;
  --text-dark: #636363;
  --text-gray: #969696;
  --text-light: #c9c9c9;
  --a: #579782;
  --a-disabled: #135340;
  --a-hover: #9bdbc6;
  --divider: #d3d8de;
  --red: #c8777e;
  --green: #468673;
  --border-radius: 6px;
  --bg-gradient: radial-gradient(
    circle at center,
    var(--a),
    #273d3b,
    var(--black)
  );
  --divider-gradient: linear-gradient(
    to right,
    var(--a),
    var(--bg-light),
    var(--bg-light)
  );
  --divider-gray-gradient: linear-gradient(
    to right,
    var(--bg-light),
    var(--bg-dark),
    var(--bg-dark),
    var(--bg-dark),
    var(--bg-light)
  );
  --underline-gradient: linear-gradient(
    to right,
    var(--bg-dark),
    var(--bg-dark),
    var(--a-disabled),
    var(--a),
    var(--a-hover)
  );
  --menudivider-gradient: linear-gradient(
    to right,
    var(--bg-dark),
    var(--text-dark),
    var(--text-dark),
    var(--bg-dark)
  );
  --btn-gradient: linear-gradient(to right bottom, var(--a-hover), var(--a));
  --btn-active-gradient: linear-gradient(
    to right bottom,
    var(--a),
    var(--a-hover)
  );
  --shadow-sm: 0 1px 3px var(--gray);
  --shadow-md: 0 2px 4px var(--gray);
  --shadow-lg: 0 6px 8px var(--gray);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-dark);
}

/* --------------- KEYFRAMES --------------- */
@keyframes ping {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: 200px; /* MUST MATCH .menu-open height */
  }
}

/* --------------- GLOBAL --------------- */
body {
  background-color: var(--bg);
  color: var(--text-light);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--a);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--a-hover);
  transition: width 0.3 ease-in-out;
}

a:hover {
  color: var(--a-hover);
}

h4 {
  font-size: 1.33rem;
  margin: 0;
  padding-bottom: 5px;
  color: var(--white);
}

h3 {
  font-size: 1.25rem;
  margin: 0;
  padding-bottom: 5px;
}

/* --------------- LAYOUT --------------- */
.main-container {
  width: 100%;
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 50px 0px 50px 0px;
  overflow-y: auto;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-gradient);
}

.container {
  width: 85%;
  max-width: 960px;
  min-height: 50vh;
  margin: 30px 0px;
  padding: 15px;
  border: outset 0.5px var(--gray);
  background-color: var(--bg-dark);
  border-radius: var(--border-radius);
}

.divider {
  width: 100%;
  height: 1px;
  background-image: var(--divider-gradient);
  margin: 5px 0px 10px 0px;
}

.divider-gray {
  width: 100%;
  height: 1px;
  background-image: var(--divider-gray-gradient);
  /* background-color: var(--gray); */
  margin: 5px 0px 10px 0px;
}

.divider-menu {
  width: 100%;
  height: 1px;
  background-color: var(--text-dark);
  margin: 5px 0px 10px 0px;
}

.card {
  border-radius: var(--border-radius);
  border: outset 0.5px var(--gray);
  padding: 10px 15px 20px 15px;
  margin: 15px;
  background-color: var(--bg-light);
}

/* ---------- TABLE ---------- */
.table {
  width: 100%;
  border-collapse: collapse;
  padding-right: 5px;
}

.table-row {
  display: flex;
  border-bottom: 1px solid var(--gray);
}

.table-header {
  color: var(--white);
  font-weight: bold;
  font-size: small;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.table-cell {
  flex: 1;
  padding: 8px;
}

.table-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 20px;
}

.align-right {
  text-align: right;
}

/* ---------- BUTTONS ---------- */

.btn {
  padding: 8px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.1s ease;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn:active {
  transform: translateY(2px) translateX(2px);
}

.btn-solid {
  background-image: var(--btn-gradient);
  color: var(--bg-light);
  border: solid 1px var(--bg-dark);
  box-shadow: var(--shadow-sm);
}

.btn-solid:hover {
  box-shadow: var(--shadow-lg);
  border: outset 1px var(--bg-dark);
  color: var(--bg-light);
}

.btn-solid:active {
  background-image: var(--btn-active-gradient);
  box-shadow: none;
  border: inset 1px var(--black);
}

.btn-outline {
  background-color: inherit;
  color: var(--a);
  border: outset inherit;
}

.btn-outline:hover {
  box-shadow: var(--shadow-md);
  color: var(--a-hover);
}

.btn-outline:active {
  box-shadow: none;
  border: inset 1px inherit;
}
/* --------------- SEARCH BAR --------------- */

.search-container {
  position: relative;
  width: 200px;
  display: flex;
}

.selected-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  border: 1px inset var(--bg-dark);
  border-radius: var(--border-radius);
  padding: 0px, 4px, 0px, 0px;
}

.search-input {
  width: 100%;
  background-color: var(--bg-dark);
  border: none;
  color: var(--a-hover);
  font-size: 1rem;
  padding: 6px 10px;
}

.search-input::placeholder {
  color: var(--gray);
  letter-spacing: normal;
}

.search-input:focus {
  border: none;
  outline: none;
  background-color: var(--bg-light);
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 200px;
  z-index: 999;
}

.dropdown-list {
  backdrop-filter: blur(10px);
  border: outset 1px var(--bg-light);
  border-radius: var(--border-radius);
  max-height: 300px;
  overflow-y: auto;
  padding: 5px 0px;
}

.option {
  padding: 8px 50px 8px 15px;
  color: var(--text-light);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.option:hover {
  color: var(--a);
}

.option-none {
  padding: 8px 50px 8px 15px;
  color: var(--red);
  font-style: italic;
}

/* --------------- ICONS --------------- */
.icon-menu {
  font-size: x-large;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.icon-menu:hover {
  color: var(--a);
}

.icon-menu-open {
  color: var(--a-hover);
}

.icon-command {
  margin-right: 2px;
  margin-top: 2px;
}

.icon-offline {
  color: var(--red);
  font-size: larger;
}

.icon-copyright {
  font-size: large;
  margin-right: 3px;
  transform: translateY(3px);
}

.icon-notify {
  font-size: x-large;
}

.icon-search {
  cursor: pointer;
  font-size: large;
  margin: 0px 5px;
  transition: all 100ms ease-in-out;
}

.icon-search-down {
  color: var(--a);
}

.icon-search-down:hover {
  color: var(--a-hover);
}

.icon-search-up {
  color: var(--a-hover);
}

.icon-search-up:hover {
  color: var(--a);
}

.icon-snackbar {
  font-size: xx-large;
  font-weight: normal;
}

/* --------------- COMPONENTS --------------- */
/* ---------- HEADER ---------- */
/* ----- LAYOUT ----- */
.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 1000;
  color: var(--white);
  background-color: var(--black);
  justify-content: space-between;
  align-items: center;
}

.header-left {
  padding-left: 30px;
  color: var(--white);
}

.header-right {
  margin: 5px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

/* ---------- MENU ---------- */
/* ----- LAYOUT ----- */
.menu {
  position: absolute;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 60px;
  left: 20px;
  width: 200px;
  color: var(--text-gray);
  padding: 12px;
  border: outset 1px var(--bg-light);
  border-radius: var(--border-radius);
  height: 0;
  overflow: hidden;
  animation: slideDown 0.5s ease forwards;
}

.menu-open {
  height: 200px;
}

.menu-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0px;
}

.menu-row:hover {
  color: var(--a-hover);
}

.menu-icon {
  display: flex;
  justify-content: center;
}

.menu-right {
  display: flex;
  align-items: center;
  font-size: large;
  width: 40px;
  color: var(--text-gray);
}

.menu-left {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--text-gray);
}

.menu-left::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-image: var(--underline-gradient);
  transition: width 0.3s ease-in-out;
}

.menu-left:hover::after {
  width: 100%;
}

.menu-bottom {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--text-gray);
}

.menuIcons {
  margin-right: 15px;
  color: var(--text-light);
  font-weight: bold;
  font-size: large;
}

.logo-text {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.badge-notify {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.badge-overlay {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -7px;
  background-color: var(--red);
  color: var(--white);
  margin: 0;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 50%;
}

/* ---------- TITLE ---------- */
.title {
  color: var(--white);
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin: 5px 0px;
}

/* ---------- SNACKBAR ---------- */
.snackbar {
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  /* right: -50px; */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  border-radius: var(--border-radius);
  z-index: 99;
  border: 1px solid var(--bg-dark);
  backdrop-filter: blur(10px);
  letter-spacing: 0.125em;
  font-weight: bold;
  font-size: large;
}

.snackbar-success {
  border: solid 2px var(--a-hover);
  color: var(--a-hover);
}

.snackbar-failure {
  border: solid 2px var(--red);
  color: var(--red);
}

.snackbar-test {
  display: flex;
  justify-content: space-around;
}

/* ---------- FOOTER ---------- */
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  font-weight: bold;
  color: var(--white);
  background-color: var(--black);
}

/* ---------- CLUSTER DETAILS ---------- */
.clusterDetails-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100px;
  margin: 0px 0px 10px 20px;
  padding: 3px;
  line-height: 1.25rem;
}

.clusterDetails-counter {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.clusterDetails-health {
  font-weight: bold;
  font-size: large;
}

/* ---------- CLUSTER NODES ---------- */
.clusterNodes-content {
  display: flex;
  margin: 0;
  padding: 3px;
  max-height: 250px;
  overflow-y: auto;
}

.offline {
  color: var(--red);
  font-style: italic;
}

/* --------------- PAGES --------------- */
/* ---------- METRICS ---------- */
.metrics-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.metrics-content {
  display: flex;
  height: 85%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.metrics-top {
  display: flex;
  height: 50%;
  width: 100%;
}

.metrics-topleft {
  display: flex;
  flex-direction: column;
  width: 66.66%;
}

.metrics-topright {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.metrics-bottom {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

/* ---------- KEY/VALUE ---------- */
.keyvalue-container {
  display: flex;
  flex-direction: column;
}

.keyvalue-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 5px 0px;
  padding: 5px 0px;
}

.keyvalue-cardfooter {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.keyvalue-rtkcounter {
  color: var(--text-gray);
  font-weight: bold;
  font-size: xx-large;
  padding: 10px;
}

/* ---------- SERVICE REGISTRY ---------- */
.servreg-container {
  display: flex;
  flex-direction: column;
}

.servreg-servinv {
  width: 33.33%;
}

.servreg-servinv-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.servreg-health {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.66%;
}

.servreg-counter {
  font-size: x-large;
  font-weight: bold;
}

.servreg-counter-healthy {
  color: var(--green);
}

.servreg-counter-unhealthy {
  color: var(--red);
}
